a {
  color: $oil;
  text-decoration: none;
}

a:hover, a:focus{
  color: $charcoal;
  text-decoration: none;
  outline: 0;
}

img {
  -moz-user-select: none;
  /*-webkit-user-select: none;*/
  -ms-user-select: none;
  user-select: none;
  /*-webkit-user-drag: none;*/
  user-drag: none;
}


.valign{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section {
  position: relative;

  .container{
    padding-top:200px;
    padding-bottom:200px;
  }
}

.container {
  position: relative;
}

.row {
  z-index:3;
  position:relative;
}

.preloader-logo {
  min-width: 200px;
  //max-width: 300px;
  width: 80%;
}

.black.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.section.intro {
  h2 {
    @include scroll-fade-in-offset(top, -40px, 2s);

    &.scroll-watch-in-view {
      @include scroll-fade-in-offset-active(top);
    }

    span{
      padding:25px 50px;
      border: solid 10px $oil;
    }
  }

  p {
    margin-top:100px;
    @include scroll-fade-in-offset(bottom, -40px, 2s);

    &.scroll-watch-in-view {
      @include scroll-fade-in-offset-active(bottom);
    }
  }
}

.noscroll{
  overflow:hidden;
}

.container {
  z-index:2;
  overflow:hidden;
}

/*TEXT STYLES*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lekton', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Molengo', sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: $body-font-color;
}

p.bold{
  font-weight:700;
}

#singlePage{
  padding-bottom: 100px;
  position: relative;
}

.paginationRow {
  padding:80px 10px;;
}

#result h2 {
  letter-spacing:0;
}

iframe{border:0;}

/*/featured works*/

#featured-works{
  background:$smoke;
}

.featureWrapper {
  padding:10px;

  .caption-heading {
    padding:10px;
  }
}

#owl-featured .owl-buttons {
  display:inline-block;
}

#owl-featured .owl-prev, .owl-next {
  display:inline-block;}

.featuredNav {
  margin:10px;
  padding:5px 10px;
  background: $oil;
  color: $body-font-color-inverse;
}


/*pages*/

ul, ol {
line-height: 24px;
}

/*shortcodes */
.nav-tabs {
  border-bottom: 3px solid $oil;
}

.nav-tabs > li >a {
  border-radius: 0;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 3px solid $oil;
  border-bottom-color: transparent;
  margin-bottom:-2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: $body-font-color-inverse;
  background-color:  $body-font-color;
}

.nav-pills > li > a {
  border-radius: 0px;
  font-family: 'Molengo', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.tab-content {
  padding: 10px;
}

.panel-heading {
  padding: 18px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel {
  border: 2px solid transparent;
  border-radius: 0px;
}

.panel-title {
  font-size: 12px;
}

.panel-default {
  border-color: $oil;
}

.buttons {
  padding:30px;

  button {
    margin:30px;
  }
}

.alert {
  border-radius: 0px;
}

#callToAction {
  background: $oil;

  .container {
    padding-top:75px;
    padding-bottom:75px;
  }

  h4 {
    color:$smoke;
    letter-spacing:2px;
  }

  p {
    color: $monsoon;
    padding-top:15px;
    padding-bottom:15px;

  }
}

.dropcap {
  float: left;
  color: inherit;
  font-size: 50px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Molengo', sans-serif;
  font-weight: 900;
}
