html(class="no-js")
  head
    // Meta Data
    title Timesheetz
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon', type='image/png', href='/assets/img/favicon/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/assets/img/favicon/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/assets/img/favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/assets/img/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/assets/img/favicon/favicon-32x32.png', sizes='32x32')

    - if (env == 'prod')
      link(href="/assets/css/style.min.css", rel="stylesheet", type="text/css")
    - else
      link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

  body
    #app !{html}

    - if (typeof data !== 'undefined')
      script.
        window.AppState = !{JSON.stringify(data)};

    case env
      when 'production'
        script(src="/assets/js/app.min.js")

      default
        script(src="/assets/js/app.js")
